<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@* Register matomo provider application-wide *@
<MatomoProvider ApiUrl="@_matomoOptions.ApiUrl"
                SiteId="@_matomoOptions.SiteId"
                UserIdFunc="async () => await Task.FromResult(Guid.NewGuid().ToString())" />

@code {

    [Inject]
    private MatomoOptions _matomoOptions { get; set; } = default!;

}
